<html>
<head>
  <style type="text/css">
          body{
            font-family: Arial;
            border: 0 none;
            
          }
          #brand_div {
              width: 100%; 
              height: 100%;
              background: url(assets/image3-e6e17229a3925b71f3a7409e6eb5c41421769c6d8a1143f61c955e4941e08142.jpg);
          }
          #vis_div {
            width: 100%; 
            height: 100%;
          }
  
  </style>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  </head>
  <body>
   <input type = 'button' id = 'b1' value = 'odi' />
   <input type = 'button' id = 'b2' value = 't20' />
   <input type = 'button' id = 'b3' value = 'test' />
   <div id="brand_div">
          <div id="vis_div"> </div>
   </div>
 </body>

 
 <script type="text/javascript">

        google.charts.load('current');   // Don't need to specify chart libraries!
        google.charts.setOnLoadCallback(initialise);

        var options =
            {
             'title': 'Comparison',
             animation: {duration: 1500, startup: true,},
             bar: {groupWidth: "10%"}, 
             colors: ['DarkGoldenrod','Black'],
             opacity: 0.9,
             backgroundColor: 'none',
             vAxis: {
                 gridlines: {
                     color: 'transparent'
                 }
             }
            };
        function initialise() {
          var wrapper = new google.visualization.ChartWrapper({
            containerId: 'vis_div'
          });
            
            var odiButton = document.getElementById('b1');  
            var t20Button = document.getElementById('b2');  
            var testButton = document.getElementById('b3');  
            wrapper.setOptions(options);

           function drawOdi()
           {
                
                var id1=26;
                var id2=1414;
                var json1 = $.getJSON("http://localhost:3000/player/odi/"+id1+".json").done(function() {

                  var json2 = $.getJSON("http://localhost:3000/player/odi/"+id2+".json").done(function(){
                    console.log(" success ");
                     var data = 
                      [
                        ['Field', json1.responseJSON.name, json2.responseJSON.name,],
                        ['Strike Rate',json1.responseJSON.sr , json2.responseJSON.sr,],
                        ['Fours',json1.responseJSON.four, json2.responseJSON.four],
                        ['Sixes', json1.responseJSON.six, json2.responseJSON.six,],
                        ['Average',json1.responseJSON.avg, json2.responseJSON.avg,]
                       ];
                     wrapper.setChartType('ColumnChart');
                     wrapper.setDataTable(data);
                     wrapper.draw();
                  });                
                });
          }

          function drawT20()
          {
            var id1=26;
                var id2=1414;
                var json1 = $.getJSON("http://localhost:3000/player/t20/"+id1+".json").done(function() {

                  var json2 = $.getJSON("http://localhost:3000/player/t20/"+id2+".json").done(function(){
                    console.log(" success ");
                     var data = 
                      [
                        ['Field', json1.responseJSON.name, json2.responseJSON.name,],
                        ['Strike Rate',json1.responseJSON.sr , json2.responseJSON.sr,],
                        ['Fours',json1.responseJSON.four, json2.responseJSON.four],
                        ['Sixes', json1.responseJSON.six, json2.responseJSON.six,],
                        ['Average',json1.responseJSON.avg, json2.responseJSON.avg,]
                       ];
                     wrapper.setChartType('ColumnChart');
                     wrapper.setDataTable(data);
                     wrapper.draw();
                  });                
                });
          }

          function drawTest()
          {
            var id1=26;
                var id2=1414;
                var json1 = $.getJSON("http://localhost:3000/player/test/"+id1+".json").done(function() {

                  var json2 = $.getJSON("http://localhost:3000/player/test/"+id2+".json").done(function(){
                    console.log(" success ");
                     var data = 
                      [
                        ['Field', json1.responseJSON.name, json2.responseJSON.name,],
                        ['Strike Rate',json1.responseJSON.sr , json2.responseJSON.sr,],
                        ['Fours',json1.responseJSON.four, json2.responseJSON.four],
                        ['Sixes', json1.responseJSON.six, json2.responseJSON.six,],
                        ['Average',json1.responseJSON.avg, json2.responseJSON.avg,]
                       ];
                     wrapper.setChartType('ColumnChart');
                     wrapper.setDataTable(data);
                     wrapper.draw();
                  });                
                });
          }

          odiButton.onclick = function()
          {
            drawOdi();
          }

          t20Button.onclick = function()
          {
            drawT20();
          }

          testButton.onclick = function()
          {
            drawTest();
          }
      }
    </script>
 </html>
