<% @title = "Player Fight!" %>

<style>

</style>
<div class="container">
  <!-- // -->
  <div class="row">
  <div class="col l4 offset-l4">
   <h1 class="center-align">PLAYER FIGHT!</h1>
  </div>
  <div class="col l4" style="width: 100%;"></div>
  <div class="col l4">
          <div class="card" style="padding: 5px">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator center circle" id="img-1" style="overflow: hidden;border-radius: 50% " src="http://www.porticodesign.com/wp-content/uploads/2014/03/blank-person-07d1653f840307220b203ecb834f5904-400x400.png">
          </div>
          <div class="card-content">
 
           <div class="row card-title activator grey-text text-darken-4">
              <div class="col s12">
                <div class="row">
                  <div class="input-field col s12">
                   
                    <input type="text" id="autocomplete-input-1" class="autocomplete">
                    <label for="autocomplete-input-1">Autocomplete</label>
 
                  </div>
                </div>
              </div>
            </div>
          </div>
                    <div class="card-reveal">
                      <span class="card-title grey-text text-darken-4">Info<i class="material-icons right">close</i></span>
                      <p>Select the player you want to compare</p>
                    </div>
        </div>
  </div>
  <div class="col l4 center-align">
    
    <a href="javascript:;" id="submitbtn" class="waves-effect waves-light btn center-align" style="margin-top: 130px;" onclick="compareClicked()">Let the battle begin!</a>
    <% if flash[:notice] %>
    <div class="notice" style="color: red"><%= flash[:notice] %></div>
    <% end %>

  </div>
  <div class="col l4">
          <div class="card" style="padding: 5px">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" id="img-2" style="overflow: hidden;border-radius: 50% " src="http://www.porticodesign.com/wp-content/uploads/2014/03/blank-person-07d1653f840307220b203ecb834f5904-400x400.png">
          </div>
          <div class="card-content">
 
           <div class="row card-title activator grey-text text-darken-4">
              <div class="col s12">
                <div class="row">
                  <div class="input-field col s12">
                    
                    <input type="text" id="autocomplete-input-2" class="autocomplete">
                    <label for="autocomplete-input-2">Autocomplete</label>
 
                  </div>
                </div>
              </div>
            </div>
          </div>
                    <div class="card-reveal">
                      <span class="card-title grey-text text-darken-4">Info<i class="material-icons right">close</i></span>
                      <p>Select the player you want to compare</p>
                    </div>
        </div>
  </div>
  </div>
  </div>
 
  <!-- // -->
  
 
<script type="text/javascript">
// $( "#autocomplete-input-1" ).autocomplete({
//       source: '/players/autocomplete_player_name/',
      
//     });

// var autocompletes = (function(){
//   var first=0,second=0;
//       function player_search_autocomplete(){
//           $(document).ready(function() {
//               $('#autocomplete-input-1').autocomplete({
//                   // source: function(request,response){
//                   source: '/players/autocomplete_player_name/',
                    //   $.ajax({
                    //       method: 'GET',
                    //       url : '/players/autocomplete_player_name?term=' + $('#autocomplete-input-1').val(),
                    //       dataType : 'json',
                    //       success : function(data) {
                    //         data = data.slice(0,4);
                    //            response($.map(data,function(v,i) {
                    //             var playerName =  v.name;
 
                    //             return {
                    //                 id: v.webId,
                    //                 label: playerName,
                    //                 value: playerName
                    //             }
                    //         }))
                    //     }
                    // });
                // },
                
                // select: function(e,ui) {
                //    first=1;
                //    console.log(ui.item.id);
                //    var url="http://i.cricketcb.com/stats/img/faceImages/"+ui.item.id+".jpg";
                //    $("#img-1").attr('src',url);
                //    if(second == 1){
                //        first=second=0;
                //        setTimeout(function(){$('#submitbtn').click();}, 1500);
                       
                //      }
                // },

            // });

//               _renderItem: function( ul, item ) {
//   return $( "<li>" )
//     .data( "ui-autocomplete-item", item )
//     .append( "<div style='height:100px'><img src='http://i.cricketcb.com/stats/img/faceImages/"+item.id+".jpg' class='center circle' style='height:60px ;width:60px'>"+"<br><h6>"+item.label+"</h6></div>"  )
//     .appendTo(ul);
// }
          
            $('#autocomplete-input-2').autocomplete({
                minLength: 3,
                  source: function(request,response){
                      $.ajax({
                          method: 'GET',
                          url : '/players/autocomplete_player_name?term=' + $('#autocomplete-input-2').val(),
                          dataType : 'json',
                          success : function(data) {
                            data = data.slice(0,4);
                               response($.map(data,function(v,i) {
                                var playerName =  v.name;
 
                                return {
                                    id: v.webId,
                                    label: playerName,
                                    value: v.slug
                                }
                            }))
                        }
                    });
                },
                open: function() {
                   
                  },
                select: function(event,ui) {
 
                   second=1;
                   console.log(ui);
                  
                   var url="http://i.cricketcb.com/stats/img/faceImages/"+ui.item.id+".jpg";
                   $("#img-2").attr('src',url);
                
                },
                delay :0,
            }).data("ui-autocomplete")._renderItem = function (ul, item) {
  return $( "<li>" )
    .data( "ui-autocomplete-item", item )
    .append( "<a><div style='height:100px'><img src='http://i.cricketcb.com/stats/img/faceImages/"+item.id+".jpg' class='center circle' style='height:60px ;width:60px'>"+"<br><h6>"+item.label+"</h6></div></a>"  )
    .appendTo(ul);
    
};


                $('#autocomplete-input-1').autocomplete({
                  minLength: 3,
                  source: function(request,response){
                      $.ajax({
                          method: 'GET',
                          url : '/players/autocomplete_player_name?term=' + $('#autocomplete-input-1').val(),
                          dataType : 'json',
                          success : function(data) {
                            data = data.slice(0,4);
                               response($.map(data,function(v,i) {
                                var playerName =  v.name;
 
                                return {
                                    id: v.webId,
                                    label: playerName,
                                    value: v.slug
                                }
                            }))
                        }
                    });
                },
                open: function() {
                   
                  },
                select: function(event,ui){
                  console.log("hey");
                   //console.log(ui);
                   var url="http://i.cricketcb.com/stats/img/faceImages/"+ui.item.id+".jpg";
                   $("#img-1").attr('src',url);
                },
                delay :0,
            }).data("ui-autocomplete")._renderItem = function (ul, item) {
  return $( "<li>" )
    .data( "ui-autocomplete-item", item )
    .append( "<a><div style='height:100px'><img src='http://i.cricketcb.com/stats/img/faceImages/"+item.id+".jpg' class='center circle' style='height:60px ;width:60px'>"+"<br><h6>"+item.label+"</h6></div></a>"  )
    .appendTo(ul);
    
};


        // });
//     }
//     return {
//         init : function() {
//                   player_search_autocomplete();
//                }
//       };
// });
function init(){
 
  // autocompletes().init();
 
}
window.addEventListener('load',init);
function compareClicked(argument) {
  // body...
  var name1=$('#autocomplete-input-1').val();
  var name2=$('#autocomplete-input-2').val();
  var url="http://localhost:3000/compare/"+name1+"/"+name2;
  console.log(url);
  window.location.href=url;

}
</script>
